.cat-thumbnail{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 0px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    object-fit: cover;
    object-position: 50% 50%;
}

td, th{
    text-align: center;
    vertical-align: middle;
    padding: 2%;
}

#catsTable{
    border-radius: 4px;
    margin-top: 40px;
}


